table, th, td {
    border: 1px solid black;
  
  }

  #tableforEmployees {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tableforEmployees td, #tableforEmployees th {
    border: 1px solid,black;
    padding: 8px;
  }
  

  #tableforEmployees th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }