

 <hr>
  Start Date:
  <input type="date" [(ngModel)]="from">
   End Date:<input type="date" [(ngModel)]="to">

      <hr>   
      
      <table  id="tableforEmployees" class="table">
      <thead>
        <tr>
          <th>Employee id</th>
          <th>Employee Name</th>
          <th>Email Address</th>
          <th>Date Of Joining</th>
          <th>Date Of Resigning</th>
          <th></th>
        </tr>
      </thead>
      <tbody >
        
        <tr *ngFor="let employee of employeesList[0] | employeeFilter: from: to">
          <td>{{employee.eid}}</td>
          <td>{{employee.ename}}</td>
          <td>{{employee.email_add}}</td>
          <td>{{employee.doj| date:'dd-MM-yyyy'}}</td>
          <td>{{employee.date_of_resign| date:'dd-MM-yyyy'}}</td>
          <td>
            <a (click)="setDocTitle('Employee View Page' )" routerLink="../employee/{{employee.eid}}">View Employee</a>&nbsp;&nbsp;|| 
            <a (click)="setDocTitle('Employee Update Page' )" routerLink="../updateemployee/{{employee.eid}}"  [queryParams]="{'employeeId': employee.id,'employeeName': employee.ename,'employeeEmailAddress': employee.email_add,'employeeDOJ': employee.doj,'employeeDateOfResign': employee.date_of_resign}">Update Employee</a>&nbsp;&nbsp;||
            <a (click)="setDocTitle('Employee Delete Page' )" routerLink="../deleteemployee/{{employee.eid}}">Delete Employee</a>
        </td>
        </tr>
 
      </tbody>
    </table>
